body {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2em;
    background-color: rgb(37, 24, 125);
}

.text_style {
    color: #e4e3e3;
    font-family: sans-serif;
    font-size: x-large;
    text-decoration: none;
}

.ul_style {
    width: 230px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.ul_style li {
    padding: 3px;
    border-radius: 5px;
}

.ul_style li:hover {
    background-color: blue;
    cursor: pointer;
}

.container {
    margin: auto;
    max-width: 80vw;
    font-family: sans-serif;
}

.heading {
    color: rebeccapurple;
}


/* Scroll bar styles and stuff */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(37, 24, 125);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {

    background: #555;
}